<!doctype html>
<html lang="en">
  <head>
  	<title>Carousel 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
  </head>
  <body>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="heading-section mb-5">Information</h2>
					</div>
					<div class="col-md-12">
						<div class="featured-carousel owl-carousel">
							<div class="item">
								<div class="work-wrap d-md-flex">
									<div class="img order-md-last" style="background-image: url(carousel-06/images/work-1.jpg);"></div>
									<div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
										<div class="desc w-100">
											<h2 class="mb-4">나는<br>싫어해요!</h2><p>
											<p class="h5 mb-4"><i class="fa fa-times" aria-hidden="true"></i>리터 박스 청소 안하기</p>
											<p class="h5 mb-4"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>짖궃은 장난치기</p>
											<p class="h5 mb-4"><i class="fa fa-volume-down" aria-hidden="true"></i>소리지르기</p>
											<p class="h5 mb-4"><i class="fa fa-exclamation" aria-hidden="true"></i>불꺼놓고 혼자 놔두기</p>
											<p class="h5 mb-4"><i class="fa fa-commenting-o" aria-hidden="true"></i>아프다는 신호 무시하기</p>
											<p class="h5 mb-4"><i class="fa fa-coffee" aria-hidden="true"></i>깨끗한 물 주지않기</p>
											
										</div>
									</div>
								</div>	
							</div>
							<div class="item">
								<div class="work-wrap d-md-flex">
									<div class="img order-md-last" style="background-image: url(carousel-06/images/work-2.jpg);"></div>
									<div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
										<div class="desc w-100">
											<h2 class="mb-4">나는<br>좋아해요!</h2>
											<p class="h5 mb-4"><i class="fa fa-comments-o" aria-hidden="true"></i>자주 말 걸어주기</p>
											<p class="h5 mb-4"><i class="fa fa-check-circle" aria-hidden="true"></i>따뜻한 미소를 짓는다</p>
											<p class="h5 mb-4"><i class="fa fa-heart-o" aria-hidden="true"></i>좋아하는 스킨쉽해주기</p>
											<p class="h5 mb-4"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>깨끗한 화장실 환경</p>
											<p class="h5 mb-4"><i class="fa fa-eye" aria-hidden="true"></i>눈 마주쳐주기</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work-wrap d-md-flex">
									<div class="img order-md-last" style="background-image: url(carousel-06/images/work-3.jpg);"></div>
									<div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
										<div class="desc w-100">
											<h2 class="mb-4">주사?<br>맞혀줘!</h2>
											<p class="h5 mb-4"><i class="fa fa-circle" aria-hidden="true"></i>혼합예방주사(3차)</p>
											<p class="h5 mb-4"><i class="fa fa-circle" aria-hidden="true"></i>광견병</p>
											<p class="h5 mb-4"><i class="fa fa-circle" aria-hidden="true"></i>전염성 복막염</p>
											<p class="h5 mb-4"><i class="fa fa-circle" aria-hidden="true"></i>백혈병</p>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>